<html>
    <body>
        <form id="name_form">
            <label>Primeiro Nome:</label><input type="text" name="primeiro_nome"/>
            <br/>
            <label>E-mail</label><input type="text" name="email_form"/>
            <br/>
            <input type="submit" value="submit" />
        </form>
         <input type="text" id="resp" name="resp" />
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
            $('#name_form').submit(function(e) {
                    e.preventDefault();

                    var person = {
                       primeiro: $('[name=primeiro_nome]').val(),
                       email:$('[name=email_form]').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/api/submit_json',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(person),
                        success: function(callback) {
                            console.log(callback);
                            $('#resp').val('app respondeu:' + callback.primeiro_nome +', ' + callback.email_form);
                        },
                        error: function() {
                            $(this).html("error!");
                        }
                    });
                });
        </script>
    </body>
</html>